.game-board {
  position: relative;
  width: 400px;
  height: 400px;
  top: 50px;
  left: 850px;
  border: 15px solid #0099fd;
  background-image: url(../../Images/fon.jpg);
  box-shadow: 0 0 100px 1px #0099fd;
}
